[Unit]
Description=TratelBot service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=sejo
ExecStart=/usr/local/bin/tratelbot

[Install]
WantedBy=multi-user.target